@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 84%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
.humberger {display: none;}

header {
  background-color: #363636;
  color: #fff;
}

header .wrapper,
.menu ul {
  padding: 17px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 25px;
  font-weight: bold;
}

.logo a {color: #dedddd;}

.menu { flex-basis: 50%;}

.menu__item {
  margin: 0px 5px;
  display: inline-block;
  font-size: 14px;
  color: #b1b0b0;
  text-transform: uppercase;
  transition: ease .5s;
}

.menu__item:hover {
  color: #fff;
  text-decoration: underline;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/* Banner style start here */
.banner { position: relative;}

.banner .wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  text-align: center;  
}

.banner__heading {
  font-size: 62px;
  font-weight: bold;
}

.banner p {
  width: 65%;
  margin: 10px auto 15px;
  font-size: 20px;
  line-height: 28px;
}

.landscaper__btn a {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #69AD31;
  margin: 25px 0;
  display: inline-block;
  background-color: #69AD31;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: ease .5s;
}

.landscaper__btn a:hover {
  background-color: #fff;
  color: #69AD31;
}
/* Banner style ends here */

/* Welcome section start  */
.welcome .wrapper{
  padding: 8% 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section__heading {
  position: relative;
  padding: 15px 0;
  margin: 10px 0;
  color: #494848;
  font-size: 34px;
  font-weight: bold;
}

.section__heading span { color: #69AD31;}

.section__heading::after {
  content: '';
  width: 65px;
  height: 3px;
  position: absolute;
  bottom: 0;
  background-color: #69AD31;
  left: 0;
}

.welcome__content, .welcome__cards {flex-basis: 48%;}

.welcome__content p {
  margin: 30px 0;
  color: #746f6f;
  font-size: 14px;
  line-height: 23px;
}

.welcome__cards {
  display: flex;
  justify-content: space-between;
}

.welcome__cards .card {
  width: 47%;
  transition: ease .4s;
}

.welcome__cards .card:hover {
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.welcome__cards h4 {
  margin: 15px 0;
  color: #494848;
  font-weight: bold;
  font-size: 22px;
}

.welcome__cards p {
  font-size: 14px;
  line-height: 25px;
  color: #494848;
}
/* Welcome section ends  */

/* Services secton start */
.services {
  padding: 7% 0 4%;
  background-color: #69AD31;
  text-align: center;
}

.services .section__heading,
.testimonial .section__heading{color: #f1f0f0;}

.services .section__heading::after,
.gallery .section__heading::after,
.testimonial .section__heading::after {
  background-color: #dedddd;
  left: 50%;
  transform: translateX(-50%);
}

.services p,
.gallery p {
  margin: 20px 0;
  color: #f1f0f0;
  font-size: 18px;
}

.services__cards {
  padding: 6% 0 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services__cards li { 
  padding: 10px 0;
  flex-basis: 23%;
  transition: ease .4s;
 }

.services__cards li:hover { 
  border-radius: 10px;
  box-shadow: 0 0 10px #00000080;
}

.services__cards figure {
  width: 78%;
  border: 9px solid #78b744;
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;
}

.services__cards p {
  font-size: 15px;
  line-height: 20px;
}

.services__cards h4 {
  margin: 20px 0;
  font-size: 23px;
  color: #f1f0f0;
}
/* Services secton ends */

/* gallery section start */
.gallery {
  padding: 5% 0 6%;
  text-align: center;
}

.gallery .section__heading::after { background-color: #69AD31;}
.gallery p {color: #746f6f;}

.gallery__btn__grp { margin: 20px 0;}

.gallery .tab__btn {
  padding: 10px 15px;
  border-radius: 5px;
  margin: 20px 10px;
  background-color: #E5E5E5;
  color: #767676;
  font-size: 15px;
  transition: ease .4s;
}

.gallery .tab__btn.active,
.gallery .tab__btn:hover {
  background-color: #78b744;
  color: #fff;
}

.gallery__images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.gallery__images li {
  margin: 12px 0;
  flex-basis: 31.7%;
}
/* gallery section ends */

/* testimonial section start */
.testimonial {
  position: relative;
  text-align: center;
}

.testimonial figure {position: relative;}

.testimonial figure::after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
}

.testimonial .wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.testimonial__slider { margin: 7% 0; }

.slider {
  width: 85%;
  margin: 0 auto;
}

.slide { 
  display: none;
  color: #fff;
}
.slide.active { display: block; }

.slide p { line-height: 30px; }

.slide span {
  margin: 20px 0;
  display: inline-block;
}

/* testimonial section ends */

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  